*{
    box-sizing:border-box;
}
body {
    margin: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

.navigation {
    display: flex;
    padding-top: 20px;
}

.logo {
    height: 30px;
    width: auto;
    display: inline-block;
}

.logo-txt {
    display: inline-block;
    margin: 0;
    padding-left: 10px;
}

.box-logo {
    width: 25%;
    height: 40px;
}

.box-logo a {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    text-decoration: none;
    color: black;
}

.box-links {
    width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.box-links a {
    text-decoration: none;
    margin: 0 16px;
    padding: 0 6px;
    text-decoration: none;
    margin: 0 16px;
    padding: 0 6px;
    font-weight: 500;
    font-size: 14px;
    color: #3a378e;
}

.box-search {
    width: 25%;
    height: 40px;
    text-align: right;
}

.box-search input {
    border: 1px solid #241d565c;
    border-radius: 3px;
    font-size: 16px;
    padding: 10px;
}

header {
    text-align: center;
}

header h4 {
    color: rgb(25, 148, 201);
    font-size: 16px;
    margin-top: 50px;
}

header h1 {
    font-size: 60px;
    color: #1f3b93;
}

header p {
    font-size: 16px;
    color: rgb(144, 144, 167);
    margin-bottom: 50px;
}

.btn-primary {
    background-color: #e91e63;
    color: white;
    text-decoration: none;
    padding: 17px 21px;
    display: inline-block;
    border-radius: 4px;
    margin: 0 10px;
    transition: 0.3s;
}

.btn-primary:hover { 
    background-color: #ae1649;
}

.btn-outlined {
    color: #1f3b93;
    border: 1px solid #1f3b93;
    text-decoration: none;
    padding: 17px 21px;
    display: inline-block;
    border-radius: 4px;
    margin: 0 10px;
    transition: 0.3s;
}

.btn-outlined:hover {
    color: white;
    background-color: #1f3b93;
}

.bg-head {
    background-color: #f4f5fd;
    padding-bottom: 200px;
}

.main-images {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-top: -100px;
}

.box-image{

    height:200px;
    width:200px;
    min-width: 100px;
    background:center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius:4px;
    margin:0 5px;
    
}

.h-250 {
    margin-top: 20px;
}

.h-300 {
    height: 300px;
}

footer {
    text-align: center;
    padding: 70px 0;
}

footer .box-links {
    margin: 20px auto;
}

.social a {
    text-decoration: none;
    display: inline-block;
    padding: 8px;
    transition: 0.3s;
    background: #efefef;
    margin: 0 10px;
    border-radius: 50%;
}

.social a:hover {
    opacity: 0.5;
}

.social a img {
    height: 28px;
    width: 28px;
    display: block;
}

footer p {
    font-size: 12px;
    border-top: 1px solid #eee;
    padding-top: 20px;
    margin-top: 40px;
    color: #6b7181;
}
.footerlogo h6 {
    width: 10px;
    height: 10px;
    display: inline-block;
    position: relative;
    left: 22px;
    top:-54px;
    font-size:12px;
}
@media (max-width: 1070px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
        width: 100%;
    }
}

@media (max-width: 1024px) {
   .main-images {
        display: none;
   }

   .bg-head {
        padding-bottom: 50px;
   }

}

@media (max-width: 858px) {
    .box-search {
        display: none;
    }

    nav .box-links {
        display: none;
    }

    header h1 {
        font-size: 40px;
    }
}
@media (max-width: 360px) {
    header h4 {
        font-size: 14px;
    }
    header h1 {
        font-size: 30px;
    }
    header p {
        font-size: 14px;
    }
    footer .box-links {
        flex-wrap: wrap;
    }

    footer .box-links a {
        margin-bottom: 10px;
    }
    .btn-primary{
        background-color: #e91e63;
        color: white;
        text-decoration: none;
        padding: 7px 8px;
        display:inline-block;
        border-radius: 4px;
        margin: 0px 0px;
        transition: 0.3s;
        margin-bottom: 10px;
    }
    .btn-outlined{
        color: #1f3b93;
        border: 1px solid #1f3b93;
        text-decoration: none;
        padding:6px 0px;
        display: inline-block;
        border-radius: 4px;
        margin: 0 4px;
        transition: 0.3s;
    }
    footer .logo{
         height: 30px;
         width: auto;
         display: inline-block;
         position: relative;
        left: -21px;
    }
    .footerlogo h6{
        width: 10px;
        height: 10px;
        display: inline-block;
        position: relative;
        left: -7px;
        top: -50px;
        font-size: 11px;
    }
        
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-top: 50px;
}

.person-box {
    padding: 20px;
    border-radius: 4px;
    border: 1px solid rgb(236, 238, 249);
    text-align:center;
}

.person-box img {
    width: 100%;
    height: 358px;
    object-fit: cover;
}
.person-box h2{
    font-size: 24px;
    color:#252a3a;
    text-align:center;
    margin:10px;
}
.person-box p{
    font-size: 16px;
    color:#9e9e9e;
    text-align:center;
    margin:0;
}
.person-box .social {
    padding-top: 20px;
}

.person-box .social a img {
    height: 16px;
    width: 16px;
}
.person-box a{
    text-decoration:none;
}
@media (max-width: 950px){
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding-top: 50px;
    }  
    .person-box img {
        height: 310px;
    }
    .person-box h2 {
        font-size: 20px;
    }
    .person-box p {
        font-size: 12px;
    }
}
@media (max-width:590px){
    .person-box {
        padding: 4px;
        border-radius: 4px;
        border: 1px solid rgb(236, 238, 249);
        text-align: center;
    }
    .person-box img {
        height: 158px;
    }
    .person-box h2 {
        font-size: 14px;
    }
    .person-box .social a img {
        height: 13px;
        width: 13px;
    }
    
    
}
.about-box{
    margin-top:50px;
    position:relative;
    float:right;
    width:540px;
    height:440px;
    background-size: cover;
    
}
.about-img{
    width: 540px;
    height: 420px;
    border-radius: 4px;
    border: 1px solid #f6f6f66e;
}


.about-h1{
    margin:60px;
    margin-left:29px;
    padding-top:48px;
    text-align:left;
    color:#1f3b93;
    font-size: 36px;
}
.img-box-redonda{
    position:relative;
    background-size: cover;
    margin-left:29px;
}
.img-redonda{
    border-radius:50%;
    width: 50px;
    height: 50px;
    float: left;
}
aside{
    padding-left:89px;
}
aside p{
    margin: 3px;
    padding: 1px;
}
aside .nombre{
    color: #1f3b93;
    font-size: 16px;
    font-weight: bold;
}
aside .fecha{
    color: #d8d8d8;
    font-size: 14px;
    font-weight: 500;
}
.about{
    margin-left: 12px;
    padding: 15px;
}

.about a img{
    height: 13px;
    width: 13px;
    display: block;
}
.informacion-general {
    display: inline-block;
    text-align: start;
    margin: 50px 250px 0px 250px;
}
.about-h2{
    margin-top: 60px;
    color: #1f3b93;
    font-size: 34px;
}
.informacion-general .about-p p{
    text-align: center;
    color: #b9b7b7;
    margin: 4px;
}
.about-p{
    color: #9d9b9b;
    font-size: 15px;
}